venv/
build/
dist/
test/*.ini
__pycache__/
.vscode/
*.xlsx
*.pkl
*.spec
.DS_Store
Help
*.h5
*.ini
*.env
*.dev
*.png
*.pyc
pkscreener/__pycache__
pkscreener/classes/__pycache__
*.egg-*/*
*.json
*.html
