venv/
build/
dist/
test/*.ini
__pycache__/
.vscode/
*.xlsx
*last_screened_*.pkl
*stock_data_*.pkl
*.spec
.DS_Store
Help
*.h5
*model*.pkl
*.ini
*.env
*.dev
*.png
*.pyc
pkscreener/__pycache__
pkscreener/classes/__pycache__
*.egg-*/*
*.json
*.html
.coverage.*
.coverage
*.exe
*.bin
*.run
*.sqlite
*.sh
*.bat
*.png
*.jpg
*.pdf
*.txt