venv*/
.venv*/
build/
dist/
test/*.ini
__pycache__/
.vscode/
*.xlsx
*last_screened_*.pkl
results/*stock_data_*.pkl
*.spec
.DS_Store
Help
DeleteThis
Cookies
*.h5
*model*.pkl
*.ini
*.env
*.dev
*.pyc
pkscreener/__pycache__
pkscreener/classes/__pycache__
*.egg-*/*
*.json
*.html
.coverage.*
.coverage
*.exe
*.bin
*.run
*.sqlite
*.sh
*.bat
*.png
*.jpg
*.pdf
results/*.txt
results/*_cookies.pkl
results/*_html.pkl
results/*DB.pkl
results/*.pkl.lck
results/*.csv
*.txt
*.whl
results
pkscreener/*.txt
*ta-lib*
*.sh
*.cache
!results/Data/yfinance.cache.zip
*.session
*_plan.md
*.ini
pkscreener.ini
*.sql
