numpy #==1.21.0 # Installed as dependency for yfinance, scipy, matplotlib, pandas
appdirs
cachecontrol
contextlib2
distlib
distro
html5lib
ipaddr
lockfile
nsetools
openpyxl
pep517
pip
pip-chill
progress
python-dotenv
telegram
python-telegram-bot
pytoml
retrying
scipy>=1.7.3
# ta-lib
tabulate
yfinance==0.1.87
alive-progress==1.6.2
Pillow==9.5.0
scikit-learn #==1.1.1
tensorflow #==2.9.2
joblib
certifi # Installed as dependency for requests
chardet # Installed as dependency for requests
dateutils # Installed as dependency for nsetools
et-xmlfile # Installed as dependency for openpyxl
idna # Installed as dependency for requests
lxml # Installed as dependency for yfinance
msgpack # Installed as dependency for cachecontrol
multitasking # Installed as dependency for yfinance
pandas #==1.3.5 # Installed as dependency for yfinance
pandas_ta
python-dateutil # Installed as dependency for dateutils, matplotlib, pandas
pytz # Installed as dependency for dateutils, pandas
requests # Installed as dependency for yfinance, cachecontrol
six # Installed as dependency for cycler, nsetools, packaging, retrying, python-dateutil, html5lib
urllib3 # Installed as dependency for requests
webencodings # Installed as dependency for html5lib
xlsxwriter
gspread
requests_cache