-r requirements.txt

black
coverage
coveralls
distro
isort
mistletoe
pep517
pip
pip-chill
pyinstaller
pytest
pytest-cov
pytest-mock
pytoml
ruff
setuptools
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
