alive-progress==1.6.2
# argparse
# builtins
# collections
# configparser
# csv
# datetime
# decimal
# enum
# functools
# genericpath
# glob
gspread
# html
# importlib
# inspect
# io
# itertools
joblib
# json
keras
# logging
# math
# multiprocessing
numpy #==1.21.0 # Installed as dependency for yfinance, scipy, matplotlib, pandas
# os
openpyxl
pandas #==1.3.5 # Installed as dependency for yfinance
pandas_ta
# pickle
Pillow==9.5.0
PKDevTools
# platform
python-dotenv
python-telegram-bot
pytz
# queue
# random
# re
requests_cache
scikit-learn #==1.1.1
scipy>=1.7.3
# signal
# subprocess
# sys
# ta-lib # Install this separately
tabulate
telegram
tensorflow #==2.9.2
# tempfile
# time
# traceback
urllib3
# warnings
xlsxwriter
yfinance==0.1.87
