advanced_ta
alive-progress==1.6.2
bs4
joblib
keras
lxml==4.9.4 # 5.0.0 or above causes problems.
numpy
openpyxl
pandas
pandas_ta
Pillow==9.5.0 # Keep at this version because getsize_multiline is deprecated/removed in higher versions
PKDevTools
PKNSETools
pytz
requests_cache
rich
scikit-learn
scipy>=1.7.3
# ta-lib # Install this separately. See README.
tabulate
tensorflow
urllib3
xlsxwriter
yfinance==0.1.87
